<p class="text-small text-grey-dk-100 mb-0">
  Text je dostupný pod <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs" target="_blank">licencí Creative Commons Uveďte původ - Zachovejte licenci 4.0 Mezinárodní</a>.
</p>
