---
layout: post
title: První veřejná zmínka
tags:
  - l10n
  - novinka
---

<p>První veřejná zmínka o projektu na serveru <a href="https://www.abclinuxu.cz/blog/GBY/2007/7/29/188285" target="_blank">ABC Linuxu.</a></p>
