---
layout: post
title: Glosář pro Lokalize
tags:
  - l10n
  - novinka
  - software
  - terminologie
---

<p>Glosář ve formátu TBX a TMX, který v editoru <a href="https://wiki.l10n.cz/Lokalize">Lokalize</a> slouží jako doplňující terminologická paměť ke standardní překladové paměti (TM), si můžete stáhnout níže.</p>
<p>Glosář sestavil Vít Pelčák, upravil Petr Kovář. Michalu Čihařovi patří dík za skript pro jeho automatické generování.</p>
<ul>
<li><a href="/assets/terms.tbx">terms.tbx</a></li>
<li><a href="/assets/terms.tmx">terms.tmx</a></li>
</ul>
