---
layout: post
title: Zapojte se do překládání
tags:
  - l10n
  - novinka
  - projekt
  - překlad
---

<p>Komunitní překladatelské týmy i jednotlivci neustále pracují na lokalizaci rozličných projektů ze světa svobodného a otevřeného softwaru, ale prakticky všechny spojuje jedno dlouhotrvající negativum, totiž nedostatek překladatelů-dobrovolníků, kteří by byli ochotni zapojit se alespoň symbolickou měrou do některé z existujících překladatelských komunit. </p>
<p>Možností, kde lze nabídnout pomoc, je přitom celá řada: seznam překladatelských týmů, kterým se svou sdružující činností věnuje web L10N.cz, je k dispozici na <a href="https://wiki.l10n.cz/Překladatelské_týmy">wiki tohoto projektu</a>. Jedná se o týmy pracující na lokalizaci pracovních prostředí (GNOME, KDE aj.), kancelářského balíku (OpenOffice.org), webových prohlížečů (např. Firefox), systému GNU, několika linuxových distribucí (Ubuntu, Debian, Fedora, openSUSE, Mandriva atd.) a dalších projektů.</p>
<h3>Malé FAQ</h3>
<h4>Jaké znalosti a zkušenosti jsou po zájemci o překlad vyžadovány?</h4>
<p>Nároky na překladatele se zpravidla do jisté míry liší projekt od projektu. Překlad uživatelské aplikace jistě bude vyžadovat jinou míru a podobu znalostí než překlad vývojářské knihovny s velmi specifickým účelem. Dobrá (nikoliv však nutně vynikající) znalost angličtiny a bezproblémová znalost češtiny by měla být samozřejmostí, vhodná je i alespoň základní znalost softwaru, který se překladatel rozhodne lokalizovat.</p>
<p>Ostatní překladatelé také většinou očekávají, že nový zájemce bude při překladu respektovat dříve dohodnutá či zažitá pravidla, k čemuž by mělo patřit i používání <a href="https://wiki.l10n.cz/Překladatelské_slovníky">konzistentní terminologie</a>.</p>
<h4>Kolik času budu muset překládání věnovat?</h4>
<p>Opět se může lišit v závislosti na projektu a překladatelské komunitě. Obvykle ale i vzhledem k výše zmíněnému nedostatku ochotných dobrovolníků může podstatným způsobem pomoci i symbolická či krátkodobá výpomoc. Hledají se tedy lidé schopní obětovat této činnosti libovolné množství ze svého volného času.</p>
