---
layout: post
title: Doména l10n.cz
tags:
  - domena
---

<p>V minulém týdnu byla doména l10n.cz převedena na <a href="https://sdruzeni.ubuntu.cz/">Občanské sdružení Ubuntu pro Českou republiku</a> a expirace prodloužena na dalších pět let. </p>
<p>Poděkování patří Vojtěchu Trefnému ze sdružení a Václavu Čermákovi coby původnímu držiteli domény za podporu projektu L10N.cz.</p>
