---
layout: post
title: Sejdeme se na LinuxDays
authors:
  - Michal Stanke
tags:
  - linuxdays
  - projekt
---

<p>
    V předchozím příspěvku krátce po migraci webu jsme vyjmenovali cíle L10N.cz. S jejich plněním to myslíme opravdu vážně, a proto se sejdeme v Praze na <a href="https://www.linuxdays.cz/2016/">LinuxDays</a>. Setkání proběhne hned v sobotu 8. října v otevřené místnosti, jak se můžete přesvědčit v <a href="https://www.linuxdays.cz/2016/program/">programu</a>. Předcházet bude asi dvacetiminutové představení lokalizace od <a href="https://www.mozilla.cz/">Mozilla.cz</a>, po kterém se v půl čtvrté pustíme do víru diskuze nad možnostmi vzájemné spolupráce mezi jednotlivými komunitami.
</p>

<p style="text-align: center;">
    <a href="https://www.linuxdays.cz/2016/"><img src="{{ '/assets/img/posts/linuxdays.png' | relative_url }}" alt="LinuxDays"/></a>
</p>

<p>
    Přihlaste se do <a href="{% link _pages/kontakty.md %}">naší e-mailové konference</a> a sledujte dění ještě před samotnou konferencí.
</p>
