---
layout: post
title: Migrace www.l10n.cz na Jekyll
tags:
  - l10n
  - novinka
---

<p>Webová prezentace na www.l10n.cz byla migrována z dnes již nepodporovaného Drupal 6 na staticky generovaný <a href="https://jekyllrb.com/">Jekyll</a> a <a href="https://github.com/qckanemoto/jekyll-qck-theme">QckTheme</a>.</p>
<p>Zdroj je k dipozici na <a href="https://github.com/pmkovar/l10ncz">https://github.com/pmkovar/l10ncz</a>, komentáře a <em>pull requests</em> vítány!</p>
