---
layout: post
title: První diskuze nad slovníkem
authors:
  - Michal Stanke
tags:
  - projekt
  - slovník
---

<p>
    V naší e-mailové konferenci jsme se rozhodli popostrčit návrhy na úpravu <a href="https://wiki.l10n.cz/P%C5%99ekladatelsk%C3%BD_slovn%C3%ADk">překladatelského slovníku</a> a sešli jsme se včera po osmé hodině večerní na chatu. Celou historii diskuze najdete <a href="https://riot.im/app/#/room/#l10ncz:matrix.org/$14809645883933225XsXEB:matrix.org">zde</a>.
</p>

<p>
    Během více než hodiny jsme stihli projít pět návrhů z celkem asi dvaceti (budeme tedy potřebovat takových diskuzí víc). Prošli jsme návrhy <a href="https://lists.l10n.cz/pipermail/diskuze/2016-December/002399.html">About (název aplikace)...</a>, <a href="https://lists.l10n.cz/pipermail/diskuze/2016-December/002400.html">spreadsheet</a>, <a href="https://lists.l10n.cz/pipermail/diskuze/2016-December/002401.html">argument a parametr</a>, <a href="https://lists.l10n.cz/pipermail/diskuze/2016-December/002402.html">report</a>, <a href="https://lists.l10n.cz/pipermail/diskuze/2016-December/002403.html">clear, remove a delete</a>. Zmiňované pokračování se pokusíme navázat ještě tento týden. Pokud máte zájem jej sledovat, přihlaste se do naší <a href="https://lists.l10n.cz/mailman/listinfo/diskuze">e-mailové konference</a>, kde se na termínu domlouváme.
</p>
