---
layout: post
title: Překladatelská komunita svobodného a otevřeného softwaru
---

<p>Cíle L10N.cz čili českého projektu zaměřeného na lokalizaci svobodného a otevřeného softwaru lze shrnout do následujících bodů:</p>
<ul>
<li>sjednocování překladatelské terminologie v oblasti svobodného a otevřeného softwaru,</li>
<li>spolupráce mezi překladatelskými týmy z různých projektů,</li>
<li>získání nových zájemců o překlad,</li>
<li>zkvalitňování úrovně překladů,</li>
<li>zjednodušování práce na překladech a odstraňování duplicitních překladů.</li>
</ul>
<p>Významným nástrojem pro sjednocování terminologie je překladatelský slovník, který je <a href="https://wiki.l10n.cz/Překladatelský_slovník">dostupný na L10N Wiki</a> tohoto serveru. Je výsledkem konsenzu překladatelů z různých svobodných a otevřených softwarových projektů, jakými jsou např. <a href="https://www.gnome.org/">GNOME</a>, <a href="https://www.kde.org/">KDE</a>, <a href="https://www.mozilla.org/">Mozilla</a>, <a href="https://www.debian.org/">Debian</a>, <a href="https://www.ubuntu.com/">Ubuntu</a> a mnohé další.</p>
<p>Diskuze o terminologii a dalších úskalích lokalizace do českého jazyka probíhá na <a href="{% link _pages/kontakty.md %}">překladatelské e-mailové konferenci</a>.</p>
<p><a href="https://wiki.l10n.cz">L10N Wiki</a> obsahuje kromě překladatelského slovníku i <a href="https://wiki.l10n.cz/Návody_pro_překladatele">popis základních pravidel</a>, <a href="https://wiki.l10n.cz/Pomůcky_pro_překladatele">pomůcek</a> a lokalizačních nástrojů užitečných pro začínajícího i pokročilého přispěvatele do komunitního překládání softwaru. Součástí jsou i odkazy na <a href="https://wiki.l10n.cz/Překladatelské_slovníky">další slovníky</a>, <a href="https://wiki.l10n.cz/Překladatelské_týmy">weby překladatelských týmů</a> a <a href="https://wiki.l10n.cz/Související_projekty">související lokalizační projekty</a>. Upravovat tuto wiki může každý, registrovaný i neregistrovaný uživatel.</p>
<p>Chcete-li také přispět k tomu, aby se čeští uživatelé mohli pohybovat v jazykově konzistentním prostředí, kde nebudou stejné věci přeložené různým způsobem, <a href="{% link _pages/zapojte-se.md %}">zapojte se</a>!</p>
<p>Hledáte-li pouze kontakty na autory a přispěvatele tohoto projektu, navštivte <a href="{% link _pages/kontakty.md %}">patřičnou stránku</a>.</p>
