---
layout: post
title: Další na řadě je OpenAlt
authors:
  - Michal Stanke
tags:
  - openalt
  - projekt
---

<p>
    Měsíc po pražských <a href="{{ '/2016/10/13/report-z-linuxdays/' | relative_url }}">LinuxDays</a> se v Brně koná také konference <a href="https://openalt.cz/2016/">OpenAlt</a>. Ani na ní nebudeme chybět a rádi bychom tak pozvali všechny zájemce o lokalizaci na naše setkání, které proběhne jako volná diskuze v <a href="https://openalt.cz/2016/program.php">sobotu 5. listopadu od 15 hodin</a>. Pokud nesledujete <a href="{% link _pages/kontakty.md %}">naši e-mailovou konferenci</a>, zrekapitulujeme závěry z LinuxDays a pak můžeme navázat, jak se nám daří se slovníkem pro kontrolu překlepů i slovníkem překladatelským.
</p>

<p style="text-align: center;">
    <a href="https://openalt.cz/2016/"><img src="{{ '/assets/img/posts/openalt-2016-300x300.png' | relative_url }}" alt="OpenAlt"/></a>
</p>
