{% assign this_page = include.item %}

<header>
  <h1>
    {% if this_page.url != page.url %}
      <a href="{{ this_page.url | relative_url }}">{{ this_page.title }}</a>
    {% else %}
      {{ this_page.title }}
    {% endif %}
  </h1>
  <div>
    {% include l10n-cz/page_meta.html item=this_page %}
  </div>
</header>
