{% assign this_page = include.item %}

<ul class="page_meta">
  {% if this_page.date %}
    <li class="date">
      <time datetime="{{ this_page.date | date: '%Y-%m-%d' }}">{{ this_page.date | date: '%-d. %-m. %Y' }}</time>
    </li>
  {% endif %}
  {% for author in this_page.authors %}
    <li class="author">
      {{- author -}}
    </li>
    {%- unless forloop.last -%}
      <span>, </span>
    {%- endunless -%}
  {% endfor %}
</ul>
