{% if paginator.total_pages > 1 %}

  <div class="pagination">
    {% if paginator.first_page != paginator.page %}
      <a class="btn" href="{{ paginator.first_page_path | relative_url }}" title="První">«</a>
    {% else %}
      <span class="btn disabled" title="První">«</span>
    {% endif %}
    {% if paginator.previous_page and paginator.previous_page != paginator.first_page %}
      <span>…</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="btn" href="{{ paginator.previous_page_path | relative_url }}" title="Předchozí">‹</a>
    {% else %}
      <span class="btn disabled" title="Předchozí">‹</span>
    {% endif %}

    <span class="btn disabled">{{ paginator.page }} / {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a class="btn" href="{{ paginator.next_page_path | relative_url }}" title="Další">›</a>
    {% else %}
      <span class="btn disabled" title="Další">›</span>
    {% endif %}
    {% if paginator.next_page and paginator.next_page != paginator.last_page %}
      <span>…</span>
    {% endif %}
    {% if paginator.last_page != paginator.page %}
      <a class="btn" href="{{ paginator.last_page_path | relative_url }}" title="Poslední">»</a>
    {% else %}
      <span class="btn disabled" title="Poslední">»</span>
    {% endif %}
  </div>

{% endif %}
