{% for post in include.posts %}

  <article>
    {% include l10n-cz/page_header.html item=post %}
    {% if include.hide_body %}
      <a href="{{ post.url | relative_url }}">Celá zprávička »</a>
    {% else %}
      {% assign segments = post.content | split: site.excerpt_separator | size %}
      {% if segments > 1 %}
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}">Celá zprávička »</a>
      {% else %}
        {{ post.content }}
      {% endif %}
      {% include l10n-cz/post_tags.html item=post %}
    {% endif %}
  </article>

  {% unless forloop.last %}
    <hr />
  {% endunless %}

{% endfor %}
