{% assign this_page = include.item %}
{% assign this_page_tags_size = this_page.tags | size %}

{% if this_page_tags_size > 0 %}
  <ul class="post_tags">
    <span class="title">
      Štítky:
    </span>
    {% for tag in this_page.tags %}
      <li><a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'latin' }}/">#{{ tag }}</a></li>
      {%- unless forloop.last -%}
        <span>, </span>
      {%- endunless -%}
    {% endfor %}
  </ul>
{% endif %}
